@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akaya Telivigala', cursive;
}

.carousel-item img{
    width: 100%;
    height: 100%;
}

.about-img{
    min-width: 100%;
    max-height: 29rem;
}

.btn-secondary{
    transition: 1s ease-in-out;
    background-color: burlywood;
}
.btn-secondary:hover{
    background-color: pink;
    color: #000;
}

.services.row>*  {
    padding-right:0;
    padding-left: 0;
}
.services img{
    width: 100%;
    height: 100%;
}

.offer_style{
    background: #c7ffd8;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hi{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.carousel-caption{
    top: 36%;
}

.footer p{
    margin-bottom: 0;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }